        * {
            margin: 0;
            padding: 0;
            font-family: "Poppins", sans-serif;
        }
        html {
            scroll-behavior: smooth;
        }
        header {
            background-color: #4a0404;
            color: white;
            padding: 15px 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: sticky;
            top: 0;
            z-index: 1000;
        }

        .logo {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 1px;
        }
        .search {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            margin: 0 20px;
        }
        .search2 {
            padding: 8px 15px;
            border-radius: 20px;
            border: none;
            width: 60%;
            max-width: 400px;
            outline: none;
        }
        nav ul {
            display: flex;
            list-style: none;
            gap: 30px;
        }

        nav ul li a {
            color: white;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            transition: opacity 0.3s;
        }

        nav ul li a:hover {
            opacity: 0.8;
            text-decoration: underline;
        }
       
        /* ---------- foodd --------- */
        #food {
            background: #ffffffa6;
            width: 100%;
            padding: 70px 0;
        }
        .txt1 {
            text-align: left;
            padding-left: 50px;
            padding-bottom: 50px;
        }
        .txt1 h1 {
            font-size: 50px;
        }
        .txt1 p {
            font-size: 20px;
        }
        .text2 {
            text-align: left;
            padding-left: 50px;
            padding-bottom: 40px;
            padding-top: 50px;
        }
        .text2 h3 {
            font-size: 35px;
        }
        .foodlist {
            width: 100%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            align-items: center;
            gap: 50px;
        }
        .fooditem {
            flex-basis: 25%;
            text-align: justify;
            border-radius: 7px;
            margin-bottom: 0;
            color: #444343;
        }
        .fooditem img {
            width: 310px;
            border-radius: 7px;
            height: 310px;
        }
        .fooddescription hr {
            background: #535050;
            height: 2px;
            border: 0;
            margin-bottom: 15px auto;
            width: 100%;
        }
        .fooddescription h2 {
            font-size: 20px;
            padding-bottom: 7px;
            padding-top: 20px;
        }
        .fooddescription p {
            font-size: 14px;
            line-height: 1.5;
        }
        /* ---------- hobbbbyyy --------- */
        #hobby {
            background: #ffffff;
            width: 100%;
            padding: 70px 0;
        }
        .text3 {
            text-align: left;
            padding-left: 50px;
            padding-bottom: 50px;
            padding-top: 50px;
        }
        .text3 p {
            font-size: 35px;
        }
        .hobbylist {
            width: 100%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            align-items: center;
            gap: 50px;
        }
        .hobbyitem {
            flex-basis: 25%;
            border-radius: 7px;
            margin-bottom: 0;
            color: #444343;
        }
        .hobbyitem img {
            width: 310px;
            border-radius: 7px;
            height: 310px;
        }
        .hobbydescription hr {
            background: #535050;
            height: 2px;
            border: 0;
            margin-bottom: 15px auto;
            width: 100%;
        }
        .hobbydescription h2 {
            font-size: 20px;
            padding-bottom: 7px;
            padding-top: 20px;
        }
        .hobbydescription p {
            font-size: 14px;
            line-height: 1.5;
        }
    /* -------- religious --------- */
    #religious1 {
        background: #ffffffa6;
        width: 100%;
        padding: 70px 0;
        }
        .text4 {
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
        padding-top: 50px;
        }
        .text4 p {
        font-size: 35px;
        }
        .religious {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 50px;
        }
        .religiousitem {
        flex-basis: 25%;
        border-radius: 7px;
        margin-bottom: 0;
        color: #444343;
        }
        .religiousitem img {
        width: 310px;
        border-radius: 7px;
        height: 310px;
        }
        .religiousdescription hr {
        background: #535050;
        height: 2px;
        border: 0;
        margin-bottom: 15px auto;
        width: 100%;
        }
        .religiousdescription h2 {
        font-size: 20px;
        padding-bottom: 7px;
        padding-top: 20px;
        }
        .religiousdescription p {
        font-size: 14px;
        line-height: 1.5;
        }
    
    /* --------- International --------- */
    #international {
        background: #ffffff;
        width: 100%;
        padding: 70px 0;
        }
        .text5 {
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
        padding-top: 50px;
        }
        .text5 p {
        font-size: 35px;
        }
        .international1 {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 50px;
        }
        .internationalitem {
        flex-basis: 25%;
        border-radius: 7px;
        margin-bottom: 0;
        color: #444343;
        }
        .internationalitem img {
        width: 310px;
        border-radius: 7px;
        height: 310px;
        }
        .internationaldescription hr {
        background: #535050;
        height: 2px;
        border: 0;
        margin-bottom: 15px auto;
        width: 100%;
        }
        .internationaldescription h2 {
        font-size: 20px;
        padding-bottom: 7px;
        padding-top: 20px;
        }
        .internationaldescription p {
        font-size: 14px;
        line-height: 1.5;
        }

    /* ---------- footer --------- */
        footer {
        background-color: #3a0d0d;
        color: #fff;
        padding: 50px 20px 20px;
        font-family: "Roboto", sans-serif;
        }
        .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1200px;
        margin: 0 auto;
        }
        .footer-info h2 {
        font-size: 1.2rem;
        line-height: 1.4;
        margin-bottom: 15px;
        }
        .socials a {
        color: #fff;
        margin-right: 10px;
        font-size: 1.2rem;
        transition: color 0.3s;
        }
        .socials a:hover {
        color: #f7a600;
        }
        .footer-links {
        display: flex;
        gap: 50px;
        }
        .column h3 {
        margin-bottom: 10px;
        font-size: 1rem;
        }
        .column a {
        display: block;
        color: #ddd;
        text-decoration: none;
        margin-bottom: 6px;
        font-size: 0.9rem;
        }
        .column a:hover {
        color: #f7a600;
        }
        .copyright {
        text-align: center;
        font-size: 0.8rem;
        margin-top: 40px;
        opacity: 0.8;
        }